/*Universal*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body{
  height: 100%;
}

body{
  background: #F2F7F9;
  font-family: 'calibreregular', sans-serif;
}

@font-face {
    font-family: 'calibreregular';
    src: url('fonts/calibreregular.eot');
    src: url('fonts/calibreregular.eot') format('embedded-opentype'),
         url('fonts/calibreregular.woff2') format('woff2'),
         url('fonts/calibreregular.woff') format('woff'),
         url('fonts/calibreregular.ttf') format('truetype'),
         url('fonts/calibreregular.svg#calibreregular') format('svg');
}

@font-face {
    font-family: 'proximanovaregularwebfont';
    src: url('fonts/proximanovaregularwebfont.eot');
    src: url('fonts/proximanovaregularwebfont.eot') format('embedded-opentype'),
         url('fonts/proximanovaregularwebfont.woff2') format('woff2'),
         url('fonts/proximanovaregularwebfont.woff') format('woff'),
         url('fonts/proximanovaregularwebfont.ttf') format('truetype'),
         url('fonts/proximanovaregularwebfont.svg#proximanovaregularwebfont') format('svg');
}



h1{
  font-size: 124px;
}

h2{
  font-size: 66px;
}

h3{
  font-size: 40px;
}

h4{
  font-size: 28px;
}

h5{
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

p{
  font-size: 16px;
  font-weight: 300;
}

a{
  color: #393E41;
  text-decoration: none;
  transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -webkit-transition: all .1s ease-out;
}

a:hover{
  color: #EF233C;
}


/*Header*/
header{
  margin-bottom: 100px;
}

.navigation{
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
  height: 96px;
}

.nav-box{
  display: table;
  position: relative;
  float: right;
  padding: 30px 0;
}

a.nav-link{
  padding: 6px 7px;
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
  opacity: .9;
}

.menu{
  position: relative;
  height: 30px;
  width: 28px;
  cursor: pointer;
  float: right;
  margin: 30px 0 40px 5px;
  z-index: 5;
  border-radius: 3px 3px 0 0;
  border: 2px solid transparent;
  opacity: .9;
}

.menu:hover .hamburger{
  background: #EF233C;
}

.menu:hover .hamburger:before{
  background: #EF233C;
}

.menu:hover .hamburger:after{
  background: #EF233C;
}

.hamburger{
  display: block;
  position: relative;
  width: 16px;
  height: 2px;
  background: #393E41;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -webkit-transition: all .1s ease-out;
}

.hamburger:before{
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 2px;
  top: -5px;
  background: #393E41;
  transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -webkit-transition: all .1s ease-out;

}

.hamburger:after{
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 2px;
  top: 5px;
  background: #393E41;
  transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -webkit-transition: all .1s ease-out;

}

.menu-open .menu-dropdown{
  display: inline-block;
}

.menu-open{
  border: 2px solid #393E41;
  background: white;
}

.menu-open .hamburger{
  background: transparent !important;
}

.menu-open .hamburger:before{
  transform: rotate(45deg);
  top: 0;
}

.menu-open .hamburger:after{
  transform: rotate(-45deg);
  top: 0;
}


.menu-dropdown{
  display: none;
  position: relative;
  padding: 3px;
  padding-top: 5px;
  top: 29px;
  right: 0;
  border: 2px solid #393E41;
  border-radius: 3px 0 3px 3px;
  background: white;
  transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -webkit-transition: all .1s ease-out;
  transform: translateX( calc(-100% + 30px));
  -moz-transform: translateX( calc(-100% + 30px));
  -webkit-transform: translateX( calc(-100% + 30px));
}

.menu-dropdown:before{
  content: "";
  position: absolute;
  height: 3px;
  width: 28px;
  top: -3px;
  right: 0px;
  background: white;
  z-index: 6;
}

a.menu-link{
  display: block;
  padding: 4px;
  font-size: 18px;
  text-align: center;
}


/******** Headline ********/
.headline-container{
  position: relative;
  margin: 30px auto 0;
  padding: 0 30px;
  max-width: 800px;
  font-size: 0;
}

.headshot{
  display: inline-block;
  position: relative;
  background: url('images/headshot.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 35%;
  height: 0;
  padding-top: 52.5%;
  bottom: 0;
  margin-right: 5%;
}

.info{
  display: inline-block;
  position: absolute;
  top: 50%;
  text-align: left;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

h1.name{
  display: block;
  font-weight: 600;
  color: #393E41;
}

h4.intro{
  display: block;
  font-weight: 400;
  color: #393E41;
  opacity: .9;
  margin-top: -10px;
  margin-left: 6px;
}


/******** Work Section ********/

#work{
  position: relative;
  margin: 0 auto;
  background: #d1d2d9;
}

.work-inner{
  width: 90%;
  max-width: 1020px;
  margin: 0 auto;
  padding-bottom: 110px;
}

h3.projects{
  font-weight: 400;
  max-width: 860px;
  margin: 0 auto;
  padding: 40px 0 30px 0;
  color: #393E41;
}

/******** Vumble ********/
.vumble-container{
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 800px;
  background: #81a6cf;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(118, 129, 135, .5);
  transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
}

.vumble-container:hover{
  box-shadow: 1.5px 1.5px 2.5px rgba(118, 129, 135, .7);
}

.content{
  position: relative;
  width: 100%;
}

.vumble-header{
  padding: 80px 0;
  font-family: 'Karla', sans-serif;
}

.bee{
  position: absolute;
  background: url('images/bee.png');
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 300px;
  min-width: 192px;
  width: 30%;
  height: 0;
  padding-top: 27.45%;
  margin: 30px 0 0 30px;
  z-index: 1;
}

.beehive{
  position: absolute;
  background: url('images/beehive.png');
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  width: 5%;
  min-width: 40px;
  height: 0;
  padding-top: 81.67%;
  z-index: 1;
}


h2.title-text{
  position: relative;
  z-index: 2;
  display: table;
  left: 50%;
  text-align: center;
  color: white;
  font-weight: 600;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}


h5.description{
  position: relative;
  text-align: center;
  color: white;
  font-weight: 400;
  z-index: 2;
}

.link-container{
  display: block;
  position: relative;
  padding: 8px 0;
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
}

a.vumble-link{
  display: inline-block;
  position: relative;
  margin: 0 10px;
  color: white;
  font-size: 17px;
}

a.vumble-link:hover{
  text-decoration: underline;
}



/******** Stash ********/
.stash-container{
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 800px;
  background: #FCFCF6;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(118, 129, 135, .3);
  transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
}

.stash-container:hover{
  box-shadow: 2px 2px 3px rgba(118, 129, 135, .5);
}

.stash-header{
  padding: 36px 0 34px 0;
}

.stash-logo{
  background: url('images/stash_logo.png');
  background-size: 125px 47.36px;
  background-repeat: no-repeat;
  width: 125px;
  height: 47.36px;
  margin: 0px auto 20px auto;
}

.stash-text{
  background: url('images/stash_word.png');
  background-size: 195px 60.15px;
  background-repeat: no-repeat;
  background-position: center;
  height: 60.15px;
  width: 195px;
  margin: 0 auto;
  padding: 20px 0;
}

h5.stash-description{
  color: #AE847E;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  font-family: 'proximanovaregularwebfont', sans-serif;
}

a.stash-link{
  display: inline-block;
  position: relative;
  margin: 0 10px;
  color: #AE847E;
  font-family: 'proximanovaregularwebfont', sans-serif;
  font-size: 14px;
}

a.stash-link:hover{
  text-decoration: underline;
}

p.coming-soon{
  display: inline-block;
  position: relative;
  margin: 0 10px;
  color: #AE847E;
  font-family: 'proximanovaregularwebfont', sans-serif;
  font-size: 15px;
  font-style: italic;
}


.footer{
  display: block;
  padding: 30px;
}

p.created_by{
  text-align: center;
  margin: 5px 0;
}

.r_logo{
  background: url('images/r_logo.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}






/******** Media Queries ********/
@media only screen and (max-width: 1200px) {
  .navigation{
    max-width: 800px;
  }
  .intro-block{
    max-width: 800px;
  }
  .work-container{
    max-width: 800px;
  }
  .bee{
    margin-left: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .bee{
    margin-left: 20px;
  }
}

@media only screen and (max-width: 900px) {
  h1{
    font-size: 110px;
  }
  h3{
    font-size: 36px;
  }
  .intro{
    font-size: 26px;
    margin-left: 5px !important;
  }
  .bee{
    margin-left: 10px;
  }
}

@media only screen and (max-width: 850px) {
  .bee{
    margin-left: 0px;
  }
}

@media only screen and (max-width: 800px) {
  h1{
    font-size: 100px;
  }
  h3{
    font-size: 34px;
  }
  .intro{
    font-size: 24px;
    margin-left: 4px !important;
  }
  .bee{
    right: 90px;
    top: 0;
  }
}

@media only screen and (max-width: 750px) {
  h1{
    font-size: 90px;
  }
  h3{
    font-size: 32px;
  }
  h4.intro{
    font-size: 22px;
  }
}

@media only screen and (max-width: 700px) {
  h1{
    font-size: 80px;
  }
  h3{
    font-size: 30px;
  }
  h4.intro{
    font-size: 20px;
    margin-left: 4px !important;
  }
}

@media only screen and (max-width: 650px) {
  header{
    margin-bottom: 80px;
  }
  .headline-container{
    margin-top: 15px;
  }
  .nav-box{
    float: none;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .headshot{
    margin-right: 0;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 270px;
    height: 405px;
    padding-top: 0;
    padding-bottom: 20px;
  }
  .info{
    display: block;
    top: auto;
    position: relative;
    text-align: center;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }
  h1{
    font-size: 75px;
  }
  h4.intro{
    margin-left: auto !important;
    margin-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  header{
    margin-bottom: 50px;
  }

  .navigation{
    height: 66px;
  }

  .nav-box{
    padding: 20px 0 10px 0;
  }

  .menu{
    margin: 20px 0 0px 5px;
  }

  a.nav-link{
    padding: 3px 5px;
  }

  a.nav-link h5{
    font-size: 18px;
  }

  .headline-container{
    margin-top: 0px;
  }
  .headshot{
    width: 250px;
    height: 375px;
    padding-bottom: 15px;
  }
  h1{
    font-size: 60px;
  }
  h2.title-text{
    font-size: 52px;
  }
  h3{
    font-size: 25px;
    padding: 25px 0 20px 0;
  }
  h4.intro{
    font-size: 18px;
    margin-top: 5px;
  }
  h5.description{
    font-size: 17px;
  }

  .work-inner{
    padding-bottom: 75px;
  }

  .vumble-header{
    padding-bottom: 40px;
  }

  .vumble-link{
    font-size: 15px;
  }

  .stash-header {
    padding: 35px 0 33px 0;
  }

  .stash-text{
    background-size: 162px 50px;
    height: 50px;
    width: 162px;
  }

  .stash-description{
    font-size: 16px !important; 
  }

  .stash-logo{
    background-size: 100px 37.89px;
    width: 100px;
    height: 37.89px;
    margin: 0px auto 12.5px auto;
  }

  .stash-link{
    font-size: 16px !important;
  }
}





/*DARK BLUE Hex - #153B50 */
/*LIGHT GRAY HEX - #EDF2F4 */



