.vumble-container {
  color: #666;
  display: block;
  margin: 0 auto;
  max-width: 800px;
  padding: 60px 30px 60px 30px; }
  @media (max-width: 974px) {
    .vumble-container {
      padding: 100px 30px 40px 30px; } }
  .vumble-container .headline-vid {
    -webkit-box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
    -moz-box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
    box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
    display: block;
    margin: 20px auto 40px auto;
    position: relative;
    max-width: 100%; }
  .vumble-container .case-intro {
    text-align: center; }
    .vumble-container .case-intro .title {
      letter-spacing: 1px;
      line-height: 2.5rem; }
    .vumble-container .case-intro .description {
      letter-spacing: 1px;
      font-weight: 400;
      line-height: 2rem;
      margin-top: 4px; }
      @media (max-width: 600px) {
        .vumble-container .case-intro .description#neat-description {
          display: block;
          margin: 0 auto;
          max-width: 330px; } }
  .vumble-container .line-break {
    display: block;
    background: #666;
    height: 1px;
    margin: 40px 0 40px 0;
    opacity: 0.5;
    width: 60px; }
    .vumble-container .line-break#headline-break {
      margin: 25px auto 40px auto; }
    .vumble-container .line-break#feedback {
      margin: -10px 0 40px 0; }
  .vumble-container .case-info {
    text-align: left; }
    .vumble-container .case-info .role {
      font-style: italic;
      margin-bottom: 12px; }
    .vumble-container .case-info .positions {
      font-weight: 400; }
    .vumble-container .case-info .process-intro {
      font-style: italic;
      margin: 32px 0 12px 0; }
    .vumble-container .case-info ul {
      list-style-type: none; }
      .vumble-container .case-info ul li {
        padding: 6px 0; }
  .vumble-container .process-block .process-title {
    margin-bottom: 24px; }
  .vumble-container .process-block .research-title {
    font-weight: 600;
    font-size: 18px;
    margin: 24px 0 16px 0; }
  .vumble-container .process-block .process-text {
    font-size: 16px;
    line-height: 1.75rem; }
    @media (max-width: 974px) {
      .vumble-container .process-block .process-text {
        font-size: 15px; } }
    @media (max-width: 600px) {
      .vumble-container .process-block .process-text {
        font-size: 15px; } }
    @media (max-width: 425px) {
      .vumble-container .process-block .process-text {
        font-size: 14px; } }
    .vumble-container .process-block .process-text.research {
      margin: 12px; }
      .vumble-container .process-block .process-text.research:nth-child(3) {
        margin-bottom: 48px; }
      .vumble-container .process-block .process-text.research span {
        text-decoration: underline;
        font-style: normal; }
    .vumble-container .process-block .process-text span {
      font-style: italic;
      font-weight: bold; }
    .vumble-container .process-block .process-text a {
      text-decoration: none; }
      .vumble-container .process-block .process-text a:hover {
        text-decoration: underline; }
  .vumble-container .process-block .imgur-vid {
    display: block;
    margin: 20px auto 60px auto;
    position: relative;
    width: 100%; }
  .vumble-container .process-block .iteration-title {
    margin-top: 50px; }
  .vumble-container .process-block .tech-title {
    margin: 24px 0 8px 0; }
  .vumble-container .process-block .tech-stack {
    list-style-type: circle;
    margin: 0px 0 18px 18px; }
    .vumble-container .process-block .tech-stack li {
      padding: 6px 0; }
  .vumble-container .process-block .tech-feature {
    margin-top: 50px; }
  .vumble-container .process-block .example-vid {
    -webkit-box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
    -moz-box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
    box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
    display: block;
    margin: 20px auto 60px auto;
    position: relative;
    max-width: 100%; }
  .vumble-container .process-block .reddit-box {
    margin: 30px 0 !important;
    -webkit-box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
    -moz-box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
    box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45); }
  .vumble-container .process-block img {
    display: block;
    margin: 30px 0 30px 0;
    max-width: 100%;
    position: relative;
    -webkit-box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
    -moz-box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
    box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45); }
    .vumble-container .process-block img.case-image {
      margin: 20px auto 60px auto; }
    .vumble-container .process-block img.mobile-view {
      display: inline-block;
      max-width: 40%; }
      .vumble-container .process-block img.mobile-view#first {
        margin-right: 15%; }
  .vumble-container .case-footer .site-link {
    font-weight: 400;
    margin: 50px 0 50px 0; }
    .vumble-container .case-footer .site-link a {
      text-decoration: none; }
      .vumble-container .case-footer .site-link a:hover {
        text-decoration: underline; }
  .vumble-container .case-footer .more-links {
    font-weight: 400;
    margin: 0 0 8px 0; }
  .vumble-container .case-footer .more-list {
    list-style-type: circle;
    margin: 0px 0 18px 18px; }
    .vumble-container .case-footer .more-list li {
      padding: 6px 0; }
      .vumble-container .case-footer .more-list li a {
        display: inline-block;
        text-decoration: none; }
        .vumble-container .case-footer .more-list li a:hover {
          text-decoration: underline; }
