.home-container {
  right: 0px;
  position: absolute;
  width: calc(100%); }
  .home-container .inner-container {
    position: absolute;
    top: 0;
    width: 100%; }
    @media (max-width: 974px) {
      .home-container .inner-container {
        left: 0;
        width: 100%; } }
    .home-container .inner-container .hero-block {
      background: #1c1d25;
      display: block;
      height: 100vh;
      position: relative;
      text-align: center; }
      .home-container .inner-container .hero-block .hero-inner {
        display: block;
        max-width: 650px;
        left: 50%;
        position: absolute;
        top: calc(50% - 30px);
        width: 90%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        .home-container .inner-container .hero-block .hero-inner .logo {
          background: url("../img/ryanLogoWhite.svg");
          background-size: 500px 134px;
          background-repeat: no-repeat;
          background-position: center;
          display: block;
          height: 134px;
          margin: 0 auto 22px auto;
          width: 500px;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
          @media (max-width: 974px) {
            .home-container .inner-container .hero-block .hero-inner .logo {
              background-size: 420px 112px;
              background-repeat: no-repeat;
              background-position: center;
              height: 112px;
              margin: 0 auto 20px auto;
              width: 420px; } }
          @media (max-width: 600px) {
            .home-container .inner-container .hero-block .hero-inner .logo {
              background-size: 320px 85px;
              background-repeat: no-repeat;
              background-position: center;
              height: 85px;
              margin: 0 auto 22px auto;
              width: 320px; } }
          @media (max-width: 425px) {
            .home-container .inner-container .hero-block .hero-inner .logo {
              background-size: 300px 80px;
              background-repeat: no-repeat;
              background-position: center;
              height: 80px;
              margin: 0 auto 24px auto;
              width: 300px; } }
        .home-container .inner-container .hero-block .hero-inner .hero-headline {
          color: white;
          font-weight: 400;
          line-height: 44px;
          margin-bottom: 2px;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
          @media (max-width: 974px) {
            .home-container .inner-container .hero-block .hero-inner .hero-headline {
              line-height: 38px; } }
          @media (max-width: 600px) {
            .home-container .inner-container .hero-block .hero-inner .hero-headline {
              line-height: 34px; } }
          @media (max-width: 425px) {
            .home-container .inner-container .hero-block .hero-inner .hero-headline {
              line-height: 30px; } }
          .home-container .inner-container .hero-block .hero-inner .hero-headline:before {
            content: "Front-end developer";
            display: inline-block;
            position: relative; }
            @media screen and (max-width: 606px) {
              .home-container .inner-container .hero-block .hero-inner .hero-headline:before {
                content: "Front-end dev"; } }
          .home-container .inner-container .hero-block .hero-inner .hero-headline:after {
            content: "product manager.";
            display: inline-block;
            position: relative; }
            @media screen and (max-width: 606px) {
              .home-container .inner-container .hero-block .hero-inner .hero-headline:after {
                content: "tech PM."; } }
        .home-container .inner-container .hero-block .hero-inner .hero-description {
          display: none;
          color: #EAE8E9;
          line-height: 1.75rem;
          font-weight: 400;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
          .home-container .inner-container .hero-block .hero-inner .hero-description:before {
            content: 'Currently b';
            display: inline-block;
            position: relative; }
            @media (max-width: 600px) {
              .home-container .inner-container .hero-block .hero-inner .hero-description:before {
                content: 'B';
                padding-left: 5px; } }
          .home-container .inner-container .hero-block .hero-inner .hero-description:after {
            content: 'Washington, DC.';
            display: inline-block;
            position: relative;
            padding-left: 7px; }
            @media (max-width: 600px) {
              .home-container .inner-container .hero-block .hero-inner .hero-description:after {
                content: 'DC.';
                padding-left: 5px; } }
            @media (max-width: 600px) {
              .home-container .inner-container .hero-block .hero-inner .hero-description:after {
                content: 'DC.';
                padding-left: 4px; } }
          .home-container .inner-container .hero-block .hero-inner .hero-description a {
            color: #EAE8E9;
            text-decoration: none; }
            .home-container .inner-container .hero-block .hero-inner .hero-description a:hover {
              text-decoration: underline; }
      .home-container .inner-container .hero-block .work-trigger {
        bottom: 0px;
        cursor: pointer;
        display: inline-block;
        height: auto;
        left: 50%;
        position: absolute;
        text-align: center;
        text-decoration: none;
        width: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        .home-container .inner-container .hero-block .work-trigger .work-intro {
          color: white;
          display: block;
          font-weight: 400;
          padding: 20px 20px;
          position: relative; }
        .home-container .inner-container .hero-block .work-trigger .work-line {
          background: white;
          bottom: 0;
          display: block;
          height: 40px;
          margin: 0 auto;
          position: relative;
          width: 1px; }
    .home-container .inner-container .project-block {
      background: white;
      display: block;
      padding: 100px 0; }
      .home-container .inner-container .project-block#vumble {
        background: #6290C3; }
        .home-container .inner-container .project-block#vumble .project-intro .project-description {
          max-width: 588px; }
      .home-container .inner-container .project-block#stash {
        background: #6B3BD3; }
        .home-container .inner-container .project-block#stash .project-intro .project-description {
          max-width: 692px; }
      .home-container .inner-container .project-block#rainbow {
        background: black; }
        .home-container .inner-container .project-block#rainbow .project-intro .project-description {
          max-width: 542px; }
      .home-container .inner-container .project-block#humble {
        background: #DB3B2A; }
        .home-container .inner-container .project-block#humble .project-intro .project-description {
          max-width: 664px; }
      .home-container .inner-container .project-block#activity .project-intro {
        color: #222222; }
        .home-container .inner-container .project-block#activity .project-intro .project-description {
          max-width: 614px; }
      .home-container .inner-container .project-block#activity .line-break {
        background: #222222; }
      .home-container .inner-container .project-block#activity .project-description {
        color: #222222; }
      .home-container .inner-container .project-block#activity .project-button button {
        border: 2px solid #222222;
        background: none;
        color: #222222; }
      .home-container .inner-container .project-block .project-intro {
        color: white;
        text-align: center; }
        .home-container .inner-container .project-block .project-intro h6 {
          display: none;
          color: white;
          letter-spacing: 1px;
          font-weight: 300;
          margin-bottom: 30px; }
        .home-container .inner-container .project-block .project-intro h3 {
          letter-spacing: 1px;
          line-height: 2.375rem; }
        .home-container .inner-container .project-block .project-intro h5 {
          letter-spacing: 1px;
          line-height: 2rem;
          font-weight: 400;
          padding: 0 20px; }
          @media (max-width: 600px) {
            .home-container .inner-container .project-block .project-intro h5 {
              display: block;
              margin: 0 auto;
              max-width: 320px;
              padding: 0 30px; } }
        .home-container .inner-container .project-block .project-intro .line-break {
          display: block;
          background: white;
          height: 1px;
          margin: 22px auto 30px auto;
          opacity: 0.5;
          width: 60px; }
      .home-container .inner-container .project-block .project-description {
        color: white;
        font-weight: 400;
        line-height: 1.375rem;
        margin: 0 auto 30px auto;
        width: 90%;
        max-width: 664px; }
      .home-container .inner-container .project-block .project-image {
        -webkit-box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
        -moz-box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
        box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
        display: block;
        height: auto;
        margin: 50px auto;
        max-width: 750px;
        width: 90%; }
      .home-container .inner-container .project-block .project-button {
        cursor: pointer;
        display: inline-block;
        left: 50%;
        position: relative;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); }
        .home-container .inner-container .project-block .project-button button {
          background: transparent;
          border: 2px solid white;
          color: white;
          cursor: pointer;
          font-size: 1rem;
          outline: none;
          padding: 15px 30px;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
          .home-container .inner-container .project-block .project-button button#v_button:hover {
            border: 2px solid white;
            background: white;
            color: #6290C3; }
          .home-container .inner-container .project-block .project-button button#s_button:hover {
            border: 2px solid white;
            background: white;
            color: #6B3BD3; }
          .home-container .inner-container .project-block .project-button button#r_button:hover {
            border: 2px solid white;
            background: white;
            color: black; }
          .home-container .inner-container .project-block .project-button button#h_button:hover {
            border: 2px solid white;
            background: white;
            color: #DB3B2A; }
          .home-container .inner-container .project-block .project-button button#as_button:hover {
            border: 2px solid #222222;
            background: #222222;
            color: white; }
