@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Light.eot");
  src: url("../fonts/Brown-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Light.woff") format("woff"), url("../fonts/Brown-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Thin.eot");
  src: url("../fonts/Brown-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Thin.woff") format("woff"), url("../fonts/Brown-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Regular.eot");
  src: url("../fonts/Brown-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Regular.woff") format("woff"), url("../fonts/Brown-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Bold.eot");
  src: url("../fonts/Brown-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Bold.woff") format("woff"), url("../fonts/Brown-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  font-family: 'Brown', Helvetica, Arial, sans-serif;
  font-style: normal;
  margin: 0;
  letter-spacing: 0.5px;
  padding: 0; }

a {
  text-decoration: none;
  outline: none; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 15px; }

p {
  font-size: 14px; }

li {
  font-size: 16px; }

@media (max-width: 974px) {
  h1 {
    font-size: 46px; }
  h2 {
    font-size: 25px; }
  h3 {
    font-size: 24px; }
  h4 {
    font-size: 17px; }
  h5 {
    font-size: 16px; }
  h6 {
    font-size: 14px; }
  p {
    font-size: 14px; } }

@media (max-width: 600px) {
  h1 {
    font-size: 44px; }
  h2 {
    font-size: 22px; }
  h3 {
    font-size: 22px; }
  h4 {
    font-size: 16px; }
  h5 {
    font-size: 15px; }
  h6 {
    font-size: 14px; }
  p {
    font-size: 14px; } }

@media (max-width: 425px) {
  h1 {
    font-size: 42px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 22px; }
  h4 {
    font-size: 15px; }
  h5 {
    font-size: 15px; }
  h6 {
    font-size: 14px; }
  p {
    font-size: 14px; } }

body {
  background: white; }
  body .home-link {
    display: block;
    position: relative;
    text-decoration: none; }
    body .home-link #home-button {
      background: url("../img/ryan_r.svg");
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
      height: 30px;
      left: 32px;
      position: absolute;
      top: 32px;
      width: 30px;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      body .home-link #home-button:hover {
        opacity: 0.6; }
  body .footer {
    background: #1c1d25;
    height: auto;
    position: relative;
    padding: 8% 0;
    text-align: center; }
    @media (max-width: 974px) {
      body .footer {
        padding: 75px 0; } }
    @media (max-width: 600px) {
      body .footer {
        padding: 60px 0; } }
    body .footer .footer-top {
      display: inline-block;
      position: relative;
      text-decoration: none;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      body .footer .footer-top #footer-logo {
        background: url("../img/ryan_r.svg");
        background-size: 70px;
        background-position: center;
        background-repeat: no-repeat;
        height: 70px;
        position: relative;
        width: 70px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1); }
        @media (max-width: 600px) {
          body .footer .footer-top #footer-logo {
            background-size: 50px;
            height: 50px;
            width: 50px; } }
        body .footer .footer-top #footer-logo:hover {
          opacity: 0.6; }
    body .footer .social-box {
      left: 50%;
      position: relative;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
      body .footer .social-box .social-words {
        margin: 50px 0; }
        @media (max-width: 600px) {
          body .footer .social-box .social-words {
            display: none; } }
        body .footer .social-box .social-words li {
          display: inline-block;
          margin: 0 20px; }
          @media (max-width: 974px) {
            body .footer .social-box .social-words li {
              margin: 0 15px; } }
          body .footer .social-box .social-words li a {
            color: white;
            font-size: 18px;
            font-weight: 600;
            padding: 15px 10px;
            text-decoration: none;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
            body .footer .social-box .social-words li a:hover {
              opacity: 0.6; }
      body .footer .social-box .social-icons {
        display: none;
        margin: 36px 0;
        white-space: nowrap; }
        @media (max-width: 600px) {
          body .footer .social-box .social-icons {
            display: block; } }
        body .footer .social-box .social-icons li {
          display: inline-block; }
          body .footer .social-box .social-icons li a {
            color: white;
            font-size: 1.2rem;
            padding: 8px;
            margin: 0 8px;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
            body .footer .social-box .social-icons li a:hover {
              opacity: 0.6; }
            body .footer .social-box .social-icons li a i .fa {
              display: inline-block;
              position: relative; }
              body .footer .social-box .social-icons li a i .fa.fa-envelope-o:before {
                content: '\f003'; }
              body .footer .social-box .social-icons li a i .fa.fa-twitter:before {
                content: '\f099'; }
              body .footer .social-box .social-icons li a i .fa.fa-linkedin:before {
                content: '\f0e1'; }
              body .footer .social-box .social-icons li a i .fa.fa-github:before {
                content: '\f09b'; }
    body .footer .copyright {
      display: block;
      color: #dedede;
      font-size: 14px;
      font-weight: 300;
      margin: 0 auto;
      position: relative; }
      @media (max-width: 600px) {
        body .footer .copyright {
          font-size: 13px; } }
