body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  letter-spacing: 0.5px;
  padding: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

p {
  font-size: 13px; }

@media (max-width: 600px) {
  h1 {
    font-size: 44px; }
  h2 {
    font-size: 28px; }
  h3 {
    font-size: 20px; }
  h4 {
    font-size: 16px; }
  h5 {
    font-size: 15px; }
  h6 {
    font-size: 13px; }
  p {
    font-size: 12px; } }

body {
  background: white; }
  body .main-container {
    right: 0px;
    position: absolute;
    width: calc(100%); }
    body .main-container .inner-container {
      left: 310px;
      position: absolute;
      top: 0;
      width: calc(100% - 310px); }
      @media (max-width: 974px) {
        body .main-container .inner-container {
          left: 0;
          padding-top: 61px;
          width: 100%; }
          body .main-container .inner-container:before {
            background: #2E4052;
            color: white;
            content: 'Product Manager';
            display: block;
            font-weight: 400;
            padding-bottom: 14px;
            position: relative;
            text-align: center;
            width: 100%;
            z-index: 1; } }
      body .main-container .inner-container .hero-block {
        background: none;
        display: block;
        height: 100vh;
        position: relative;
        text-align: center; }
        @media (max-width: 974px) {
          body .main-container .inner-container .hero-block {
            height: calc(100vh - 61px); } }
        body .main-container .inner-container .hero-block .hero-inner {
          display: block;
          max-width: 650px;
          left: 50%;
          position: absolute;
          top: calc(50% - 30px);
          width: 90%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
          @media (max-width: 974px) {
            body .main-container .inner-container .hero-block .hero-inner {
              top: calc(50% - 50px); } }
          body .main-container .inner-container .hero-block .hero-inner .hero-image-holder {
            display: block;
            left: -2px;
            margin: 0 auto 20px auto;
            max-width: 300px;
            width: 90%;
            overflow: hidden; }
            @media (max-width: 600px) {
              body .main-container .inner-container .hero-block .hero-inner .hero-image-holder {
                max-width: 220px;
                margin-bottom: 10px; } }
            body .main-container .inner-container .hero-block .hero-inner .hero-image-holder .hero-image {
              margin-left: -3.3%;
              width: 100%; }
          body .main-container .inner-container .hero-block .hero-inner .hero-headline {
            color: #666;
            font-weight: 500;
            margin-bottom: 10px; }
          body .main-container .inner-container .hero-block .hero-inner .hero-description {
            color: #ccc;
            line-height: 1.75rem;
            font-weight: 400; }
            body .main-container .inner-container .hero-block .hero-inner .hero-description a {
              color: #ccc;
              text-decoration: none; }
              body .main-container .inner-container .hero-block .hero-inner .hero-description a:hover {
                text-decoration: underline; }
        body .main-container .inner-container .hero-block .down-arrow {
          bottom: 30px;
          cursor: pointer;
          display: block;
          height: 36px;
          left: 50%;
          position: absolute;
          width: 60px;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%); }
          @media (max-width: 974px) {
            body .main-container .inner-container .hero-block .down-arrow {
              bottom: 60px; } }
          body .main-container .inner-container .hero-block .down-arrow:before {
            content: '';
            display: block;
            background: #e6e6e6;
            height: 4px;
            left: 13.5px;
            position: absolute;
            top: 16px;
            width: 20px;
            -webkit-transform: rotate(40deg);
            -moz-transform: rotate(40deg);
            -ms-transform: rotate(40deg);
            -o-transform: rotate(40deg);
            transform: rotate(40deg); }
          body .main-container .inner-container .hero-block .down-arrow:after {
            content: '';
            display: block;
            background: #e6e6e6;
            height: 4px;
            right: 13.5px;
            position: absolute;
            top: 16px;
            width: 20px;
            -webkit-transform: rotate(-40deg);
            -moz-transform: rotate(-40deg);
            -ms-transform: rotate(-40deg);
            -o-transform: rotate(-40deg);
            transform: rotate(-40deg); }
      body .main-container .inner-container .project-block {
        background: white;
        display: block;
        padding: 120px 0; }
        body .main-container .inner-container .project-block#stash {
          background: #F7F9FA; }
        body .main-container .inner-container .project-block#humble {
          background: #F7F9FA; }
        body .main-container .inner-container .project-block .project-intro {
          color: #666;
          text-align: center; }
          body .main-container .inner-container .project-block .project-intro h6 {
            color: #dedede;
            letter-spacing: 1px;
            font-weight: 300;
            margin-bottom: 30px; }
          body .main-container .inner-container .project-block .project-intro h3 {
            letter-spacing: 1px;
            line-height: 38px; }
          body .main-container .inner-container .project-block .project-intro h5 {
            letter-spacing: 1px;
            line-height: 38px;
            font-weight: 400; }
          body .main-container .inner-container .project-block .project-intro .line-break {
            display: block;
            background: #666;
            height: 1px;
            margin: 22px auto 30px auto;
            opacity: 0.5;
            width: 60px; }
        body .main-container .inner-container .project-block .project-description {
          color: #666;
          font-weight: 400;
          line-height: 1.375rem;
          margin: 0 auto 30px auto;
          width: 90%;
          max-width: 650px; }
        body .main-container .inner-container .project-block .project-image {
          -webkit-box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
          -moz-box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
          box-shadow: 0px 4px 18px 0px rgba(33, 33, 33, 0.45);
          display: block;
          height: auto;
          margin: 50px auto;
          max-width: 750px;
          width: 90%; }
        body .main-container .inner-container .project-block .project-button {
          cursor: pointer;
          display: inline-block;
          left: 50%;
          position: relative;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%); }
          body .main-container .inner-container .project-block .project-button button {
            background: transparent;
            border: 2px solid #666;
            color: #666;
            cursor: pointer;
            font-size: 1rem;
            padding: 15px 30px;
            -webkit-transition: ease-in-out 0.1s;
            -moz-transition: ease-in-out 0.1s;
            -o-transition: ease-in-out 0.1s;
            transition: ease-in-out 0.1s; }
            body .main-container .inner-container .project-block .project-button button#v_button:hover {
              border: 2px solid #2A2B2A;
              background: #2A2B2A;
              color: #F2C51F; }
            body .main-container .inner-container .project-block .project-button button#s_button:hover {
              border: 2px solid #7A3DFE;
              background: #7A3DFE;
              color: white; }
            body .main-container .inner-container .project-block .project-button button#r_button:hover {
              border: 2px solid black;
              background: black;
              color: white; }
            body .main-container .inner-container .project-block .project-button button#h_button:hover {
              border: 2px solid #DB3B2A;
              background: #DB3B2A;
              color: white; }
            body .main-container .inner-container .project-block .project-button button#as_button:hover {
              border: 2px solid #666;
              background: #666;
              color: white; }
      body .main-container .inner-container .skills-block {
        background: #8693AB;
        color: white;
        padding: 120px 0 70px 0;
        text-align: center; }
        body .main-container .inner-container .skills-block h3 {
          letter-spacing: 1px;
          line-height: 38px; }
        body .main-container .inner-container .skills-block .skills-list .skill {
          margin: 50px 0; }
          body .main-container .inner-container .skills-block .skills-list .skill p {
            margin-top: 8px; }
          body .main-container .inner-container .skills-block .skills-list .skill a {
            color: white;
            display: inline-block;
            position: relative;
            text-decoration: none;
            -webkit-transition: ease-in-out 0.1s;
            -moz-transition: ease-in-out 0.1s;
            -o-transition: ease-in-out 0.1s;
            transition: ease-in-out 0.1s; }
            body .main-container .inner-container .skills-block .skills-list .skill a:hover {
              color: #2E4052; }
              body .main-container .inner-container .skills-block .skills-list .skill a:hover:after {
                border-bottom: 1px solid #2E4052; }
            body .main-container .inner-container .skills-block .skills-list .skill a:after {
              background: none;
              border-bottom: 1px solid white;
              content: "";
              display: block;
              height: 4px;
              left: 0;
              width: 100%;
              position: absolute;
              -webkit-transition: ease-in-out 0.1s;
              -moz-transition: ease-in-out 0.1s;
              -o-transition: ease-in-out 0.1s;
              transition: ease-in-out 0.1s; }
      body .main-container .inner-container .contact-block {
        height: calc(100vh - 180px);
        padding: 120px 0 60px;
        position: relative;
        text-align: center; }
        @media (max-width: 974px) {
          body .main-container .inner-container .contact-block {
            height: calc(100vh - 241px); } }
        body .main-container .inner-container .contact-block h3 {
          color: #666; }
        body .main-container .inner-container .contact-block .social-box {
          left: 50%;
          position: absolute;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
          body .main-container .inner-container .contact-block .social-box .email-button {
            margin: 0px 0 50px 0;
            cursor: pointer;
            display: inline-block;
            position: relative; }
            body .main-container .inner-container .contact-block .social-box .email-button button {
              background: transparent;
              border: 2px solid #666;
              color: #666;
              cursor: pointer;
              font-size: 1rem;
              padding: 15px 30px;
              -webkit-transition: ease-in-out 0.1s;
              -moz-transition: ease-in-out 0.1s;
              -o-transition: ease-in-out 0.1s;
              transition: ease-in-out 0.1s; }
              body .main-container .inner-container .contact-block .social-box .email-button button:hover {
                background: #2E4052;
                border: 2px solid #2E4052;
                color: white; }
          body .main-container .inner-container .contact-block .social-box .social-icons li {
            display: inline-block; }
            body .main-container .inner-container .contact-block .social-box .social-icons li a {
              color: #ccc;
              font-size: 1.5rem;
              padding: 8px;
              margin: 0 8px;
              -webkit-transition: ease-in-out 0.1s;
              -moz-transition: ease-in-out 0.1s;
              -o-transition: ease-in-out 0.1s;
              transition: ease-in-out 0.1s; }
              body .main-container .inner-container .contact-block .social-box .social-icons li a:hover {
                color: #2E4052; }
              body .main-container .inner-container .contact-block .social-box .social-icons li a i .fa.fa-twitter:before {
                content: '\f099';
                display: inline-block;
                position: relative; }
              body .main-container .inner-container .contact-block .social-box .social-icons li a i .fa.fa-linkedin:before {
                content: '\f0e1';
                display: inline-block;
                position: relative; }
              body .main-container .inner-container .contact-block .social-box .social-icons li a i .fa.fa-github:before {
                content: '\f09b';
                display: inline-block;
                position: relative; }
        body .main-container .inner-container .contact-block .copyright {
          bottom: 60px;
          color: #dedede;
          left: 50%;
          position: absolute;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%); }

/*# sourceMappingURL=main.css.map */