@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Light.eot");
  src: url("../fonts/Brown-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Light.woff") format("woff"), url("../fonts/Brown-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Thin.eot");
  src: url("../fonts/Brown-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Thin.woff") format("woff"), url("../fonts/Brown-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Regular.eot");
  src: url("../fonts/Brown-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Regular.woff") format("woff"), url("../fonts/Brown-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Bold.eot");
  src: url("../fonts/Brown-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Bold.woff") format("woff"), url("../fonts/Brown-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  font-family: 'Brown', Helvetica, Arial, sans-serif;
  font-style: normal;
  margin: 0;
  letter-spacing: 0.5px;
  padding: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 15px; }

p {
  font-size: 14px; }

li {
  font-size: 16px; }

@media (max-width: 974px) {
  h1 {
    font-size: 46px; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 22px; }
  h4 {
    font-size: 17px; }
  h5 {
    font-size: 15px; }
  h6 {
    font-size: 14px; }
  p {
    font-size: 14px; }
  li {
    font-size: 15px; } }

@media (max-width: 600px) {
  h1 {
    font-size: 44px; }
  h2 {
    font-size: 30px; }
  h3 {
    font-size: 20px; }
  h4 {
    font-size: 16px; }
  h5 {
    font-size: 15px; }
  h6 {
    font-size: 14px; }
  p {
    font-size: 14px; }
  li {
    font-size: 15px; } }

@media (max-width: 425px) {
  h1 {
    font-size: 42px; }
  h2 {
    font-size: 28px; }
  h3 {
    font-size: 18px; }
  h4 {
    font-size: 15px; }
  h5 {
    font-size: 14px; }
  h6 {
    font-size: 13px; }
  p {
    font-size: 13px; }
  li {
    font-size: 14px; } }

body {
  background: white; }
  body .home-link {
    display: block;
    position: relative;
    text-decoration: none; }
    body .home-link #home-button {
      background: url("../img/ryan_r.svg");
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
      height: 30px;
      left: 32px;
      position: absolute;
      top: 32px;
      width: 30px;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      body .home-link #home-button:hover {
        opacity: 0.6; }
