#navigation.active .nav-home-link {
  opacity: 1;
  pointer-events: all; }

#navigation.active #hamburger-menu {
  width: 28px; }
  #navigation.active #hamburger-menu span {
    background: none;
    width: 20px; }
    #navigation.active #hamburger-menu span:before {
      background: white;
      right: auto;
      width: 20px;
      top: 1px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    #navigation.active #hamburger-menu span:after {
      background: white;
      right: auto;
      height: 3px;
      width: 20px;
      top: -2px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#navigation.active .nav-menu {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  top: 0; }

#navigation.active #nav-close {
  display: block; }
  @media (max-width: 600px) {
    #navigation.active #nav-close {
      display: none; } }

#navigation .nav-home-link {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  text-decoration: none;
  z-index: 3;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  #navigation .nav-home-link #nav-home-button {
    background: url("../img/ryan_r.svg");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    left: 32px;
    position: absolute;
    top: 32px;
    width: 30px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1); }
    #navigation .nav-home-link #nav-home-button:hover {
      opacity: 0.6; }

#navigation #hamburger-menu {
  cursor: pointer;
  height: 32px;
  position: fixed;
  right: 32px;
  top: 31px;
  width: 40px;
  z-index: 3;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  #navigation #hamburger-menu:hover {
    opacity: 0.6; }
  #navigation #hamburger-menu span {
    background: #cccccc;
    display: block;
    height: 3px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 24px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    #navigation #hamburger-menu span:before {
      background: #cccccc;
      content: "";
      display: block;
      height: 3px;
      position: relative;
      right: 8px;
      top: -8px;
      width: 32px;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    #navigation #hamburger-menu span:after {
      background: #cccccc;
      content: "";
      display: block;
      height: 3px;
      position: relative;
      right: -8px;
      top: 5px;
      width: 16px;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }

#navigation .nav-menu {
  background: #505050;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(69, 69, 69, 0.45);
  -moz-box-shadow: 0px 4px 20px 0px rgba(69, 69, 69, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(69, 69, 69, 0.45);
  height: auto;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  text-align: center;
  top: -100%;
  visibility: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  @media (max-width: 600px) {
    #navigation .nav-menu {
      height: 100%; } }
  #navigation .nav-menu .nav-inner {
    position: relative;
    margin: 110px 0 90px 0; }
    @media (max-width: 600px) {
      #navigation .nav-menu .nav-inner {
        margin: 100px 0 0 0; } }
    #navigation .nav-menu .nav-inner .nav-group {
      display: inline-block;
      margin: 0 32px;
      vertical-align: top; }
      @media (max-width: 600px) {
        #navigation .nav-menu .nav-inner .nav-group {
          display: block;
          margin: 0 auto; } }
      @media (max-width: 600px) {
        #navigation .nav-menu .nav-inner .nav-group#contact-group {
          display: none; } }
      #navigation .nav-menu .nav-inner .nav-group .nav-title {
        color: white;
        font-size: 48px;
        margin-bottom: 28px;
        text-align: left;
        text-indent: 13px; }
        @media (max-width: 600px) {
          #navigation .nav-menu .nav-inner .nav-group .nav-title {
            font-size: 36px;
            margin-bottom: 24px;
            text-align: center;
            text-indent: 0; } }
      #navigation .nav-menu .nav-inner .nav-group .nav-list {
        list-style-type: none;
        text-align: left; }
        #navigation .nav-menu .nav-inner .nav-group .nav-list#work-list li {
          min-width: 200px; }
          @media (max-width: 600px) {
            #navigation .nav-menu .nav-inner .nav-group .nav-list#work-list li {
              min-width: none;
              text-align: center; } }
        #navigation .nav-menu .nav-inner .nav-group .nav-list#contact-list li {
          min-width: 260px; }
        #navigation .nav-menu .nav-inner .nav-group .nav-list li {
          position: relative;
          padding-bottom: 0.5em;
          text-indent: 14px; }
          @media (max-width: 600px) {
            #navigation .nav-menu .nav-inner .nav-group .nav-list li {
              text-indent: 0; } }
          #navigation .nav-menu .nav-inner .nav-group .nav-list li a {
            display: block;
            color: white;
            font-size: 14px;
            font-weight: 300;
            height: 36px;
            letter-spacing: 0.1em;
            line-height: 36px;
            text-decoration: none; }
            @media (max-width: 600px) {
              #navigation .nav-menu .nav-inner .nav-group .nav-list li a {
                font-size: 16px;
                height: 40px;
                line-height: 40px; } }
            #navigation .nav-menu .nav-inner .nav-group .nav-list li a:hover {
              background: #787878; }
  #navigation .nav-menu .nav-contact {
    display: none;
    bottom: 36px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media (max-width: 600px) {
      #navigation .nav-menu .nav-contact {
        display: block; } }
    #navigation .nav-menu .nav-contact .contact-icons {
      white-space: nowrap; }
      #navigation .nav-menu .nav-contact .contact-icons li {
        display: inline-block; }
        #navigation .nav-menu .nav-contact .contact-icons li a {
          color: white;
          font-size: 1.2rem;
          padding: 8px;
          margin: 0 4px;
          -webkit-transition: ease-in-out 0.2s;
          -moz-transition: ease-in-out 0.2s;
          -o-transition: ease-in-out 0.2s;
          transition: ease-in-out 0.2s; }
          #navigation .nav-menu .nav-contact .contact-icons li a:hover {
            opacity: 0.6; }
          #navigation .nav-menu .nav-contact .contact-icons li a i .fa {
            display: inline-block;
            position: relative; }
            #navigation .nav-menu .nav-contact .contact-icons li a i .fa:before {
              display: inline-block;
              position: relative; }
            #navigation .nav-menu .nav-contact .contact-icons li a i .fa.fa-envelope-o:before {
              content: "\f003"; }
            #navigation .nav-menu .nav-contact .contact-icons li a i .fa.fa-twitter:before {
              content: "\f099"; }
            #navigation .nav-menu .nav-contact .contact-icons li a i .fa.fa-linkedin:before {
              content: "\f0e1"; }
            #navigation .nav-menu .nav-contact .contact-icons li a i .fa.fa-github:before {
              content: "\f09b"; }

#navigation #nav-close {
  bottom: 0;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 1; }

/*# sourceMappingURL=navbar.css.map */