@import 'mixins';
@import 'variables';

@font-face {
	font-family: 'Brown';
	src: url('../fonts/Brown-Light.eot');
	src: url('../fonts/Brown-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Brown-Light.woff') format('woff'),
		url('../fonts/Brown-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Brown';
	src: url('../fonts/Brown-Thin.eot');
	src: url('../fonts/Brown-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Brown-Thin.woff') format('woff'),
		url('../fonts/Brown-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Brown';
	src: url('../fonts/Brown-Regular.eot');
	src: url('../fonts/Brown-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Brown-Regular.woff') format('woff'),
		url('../fonts/Brown-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Brown';
	src: url('../fonts/Brown-Bold.eot');
	src: url('../fonts/Brown-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Brown-Bold.woff') format('woff'),
		url('../fonts/Brown-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    font-family: 'Brown', Helvetica, Arial, sans-serif;
    font-style: normal;
    margin: 0;
    letter-spacing: 0.5px;
    padding: 0;
}

a{
	text-decoration: none;
	outline: none;
}

h1{ font-size: 48px; } //48px
h2{ font-size: 26px; } //32px
h3{ font-size: 24px; } //24px
h4{ font-size: 18px; } //18px
h5{ font-size: 16px; } //16px
h6{ font-size: 15px; } //13px
p{  font-size: 14px; }
li{ font-size: 16px; }

@include medium{
  h1{ font-size: 46px; } //48px
  h2{ font-size: 24px; } //32px
  h3{ font-size: 24px; } //24px
  h4{ font-size: 17px; } //18px
  h5{ font-size: 16px; } //16px
  h6{ font-size: 14px; } //13px
  p{  font-size: 14px; }
}

@include small{
  h1{ font-size: 44px; } //48px
  h2{ font-size: 22px; } //32px
  h3{ font-size: 22px; } //24px
  h4{ font-size: 16px; } //18px
  h5{ font-size: 15px; } //16px
  h6{ font-size: 14px; } //13px
  p{  font-size: 14px; }
}

@include phone{
  h1{ font-size: 42px; } //48px
  h2{ font-size: 20px; } //32px
  h3{ font-size: 22px; } //24px
  h4{ font-size: 15px; } //18px
  h5{ font-size: 15px; } //16px
  h6{ font-size: 14px; } //13px
  p{  font-size: 14px; }
}

body{
  background: white;

	.home-link{
		display: block;
		position: relative;
		text-decoration: none;
		#home-button{
			background: url('../img/ryan_r.svg');
			background-size: 30px;
			background-position: center;
			background-repeat: no-repeat;
			height: 30px;
			left: 32px;
			position: absolute;
			top: 32px;
			width: 30px;
			@include transition( all 0.2s);

			&:hover{
				opacity: 0.6;
			}
		}
	}

	.footer{
		background: #1c1d25;
		height: auto;
		position: relative;
		padding: 8% 0;
		text-align: center;
		@include medium{
			padding: 75px 0;
		}
		@include small{
			padding: 60px 0;
		}

		.footer-top{
			display: inline-block;
			position: relative;
			text-decoration: none;
			@include transition( all 0.2s);

			#footer-logo{
				background: url('../img/ryan_r.svg');
				background-size: 70px;
				background-position: center;
				background-repeat: no-repeat;
				height: 70px;
				position: relative;
				width: 70px;
				@include transition( all 0.2s);
				-webkit-filter: brightness(0) invert(1);
				filter: brightness(0) invert(1);
				@include small{
					background-size: 50px;
					height: 50px;
					width: 50px;
				}
				&:hover{
					opacity: 0.6;
				}
			}
		}

		.social-box{
			left: 50%;
			position: relative;
			@include transform( translateX(-50%));

			.social-words{
				margin: 50px 0;
				@include small{
					display: none;
				}
				li{
					display: inline-block;
					margin: 0 20px;
					@include medium{
						margin: 0 15px;
					}
					a{
						color: white;
						font-size: 18px;
						font-weight: 600;
						padding: 15px 10px;
						text-decoration: none;
						@include transition( all 0.2s );
						&:hover{
							opacity: 0.6;
						}
					}
				}
			}

			.social-icons{
				display: none;
				margin: 36px 0;
				white-space: nowrap;
				@include small{
					display: block;
				}
				li{
					display: inline-block;

					a{
						color: white;
						font-size: 1.2rem;
						padding: 8px;
						margin: 0 8px;
						@include transition( all 0.2s );

						&:hover{
							opacity: 0.6;
						}

						i{
							.fa{
								display: inline-block;
								position: relative;
								&.fa-envelope-o{
									&:before{
										content: '\f003';
									}
								}
								&.fa-twitter{
									&:before{
										content: '\f099';

									}
								}
								&.fa-linkedin{
									&:before{
										content: '\f0e1';
									}
								}
								&.fa-github{
									&:before{
										content: '\f09b';
									}
								}
							}
						}
					}
				}
			}
		}

		.copyright{
			display: block;
			color: #dedede;
			font-size: 14px;
			font-weight: 300;
			margin: 0 auto;
			position: relative;
			@include small{
				font-size: 13px;
			}
		}
	}
}
