@import 'mixins';

#sidebar{
  background: #1E262D;
  height: calc(100% - 60px);
  left: 0;
  position: fixed;
  padding: 30px;
  text-align: left;
  top: 0;
  width: 250px;
  z-index: 5;

  @include single{
    background: rgba(46, 64, 82, 0.99);
    height: 100%;
    left: -100%;
    padding: 0;
    width: 100%;
  }

  &.active{
    left: 0;

    #hamburger-menu{
      left: 12px;
      right: auto;

      span{
        background: none;

        &:before{
          top: 1px;
          @include transform( rotate(45deg));
        }

        &:after{
          top: -1px;
          @include transform( rotate(-45deg));
        }
      }
    }
  }

  #hamburger-menu{
    cursor: pointer;
    display: none;
    height: 32px;
    position: absolute;
    right: -42px;
    top: 17px;
    width: 30px;
    z-index: 2;

    @include single{
      display: inline-block;
    }

    span{
      background: white;
      display: block;
      height: 2px;
      left: 50%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      width: 20px;
      @include transform( translate(-50%, -50%));

      &:before{
        background: white;
        content: '';
        display: block;
        height: 2px;
        position: relative;
        top: -7px;
        width: 20px;
      }

      &:after{
        background: white;
        content: '';
        display: block;
        height: 2px;
        position: relative;
        top: 5px;
        width: 20px;
      }
    }
  }

  .personal-name{
    display: block;
    position: relative;

    @include single{
      background: #1E262D;
      height: 66px;
      left: 0;
      position: fixed;
      text-align: center;
      top: 0;
      width: 100%;
    }

    a{
      color: white;
      display: inline-block;
      font-weight: 300;
      position: relative;
      text-decoration: none;
      @include single{
        top: 50%;
        @include transform( translateY(calc(-50% + 2px)));
      }

      .logo{
        background: url('../img/RyanLuuLogo.svg');
        background-size: 200px 53px;
        background-repeat: no-repeat;
        background-position: center;
        height: 53px;
        width: 200px;

        @include single{
          background-size: 150px 40px;
          background-repeat: no-repeat;
          background-position: center;
          height: 40px;
          width: 150px;
        }
      }
    }
  }

  .personal-description{
    color: white;
    display: block;
    font-weight: 400;
    padding: 5px 0;
    text-align: left;
    width: 100%;

    @include single{
      display: none;
    }
  }


  #project-list{
    clear: both;
    color: white;
    display: inline-block;
    margin: 42px 0;
    padding-left: 0px;

    .project-header{
      color: white;
      font-weight: 300;
      padding-bottom: 20px;

      @include single{
        display: none;
      }
    }

    @include single{
      display: block;
      list-style: none;
      padding: 0;
      text-align: center;
    }

    a{
      color: white;
      text-decoration: none;

      .list-item{
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: 300;
        margin: 4px 0;
        padding: 4px 0;
        list-style: none;
        @include animation('fadeIn 0.7s 1');

        &.d1{ animation-delay: .1s;}
        &.d2{ animation-delay: .2s;}
        &.d3{ animation-delay: .3s;}
        &.d4{ animation-delay: .4s;}
        &.d5{ animation-delay: .5s;}

        &:hover{
          &:after{
            display: inline-block;
          }
        }

        &:after{
          content: '→';
          display: none;
          position: relative;
          padding-left: 8px;
          @include animation('fadeIn 0.2s 1');
        }

        @include single{
          border-bottom: 1px solid rgba(255,255,255, 0.02);
          font-size: 20px;
          font-weight: 300;
          margin: 0;
          padding: 10px 0;
          &:hover{
            background: white;
            color: #2E4052;
          }
        }
      }
      @include keyframes(fadeIn) {
        0% { opacity: 0; @include transform(translate3d(-100%, 0, 0)); }
        100% { opacity: 1; @include transform(translate3d(0, 0, 0)); }
      }
    }
  }

  #footer{
    bottom: 30px;
    position: absolute;

    @include single{
      left: 50%;
      @include transform( translateX(-50%));
    }

    a{
      color: white;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;

      &:hover{
        p{
          &:after{
            display: inline-block;
          }
        }
      }

      p{
        font-size: 0.8rem;
        color: white;

        &:after{
          content: '→';
          display: none;
          position: relative;
          padding-left: 8px;
          @include animation('fadeIn 0.2s 1');
        }
      }
    }
  }
}
